MLOps Zoomcamp Homework 1

Get the data - NYC Taxi dataset:

Yellow Taxi Trip Records Jan & Feb 2023
- https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet
- https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet

In [1]:
import pandas as pd
import seaborn as sns

## Q1. Downloading the data

How many columns are there?

In [2]:
data_url_202301 = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet"
data_url_202302 = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet"
df = pd.read_parquet(data_url_202301)
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,3.066766e+06,3066766,3066766,2.995023e+06,3.066766e+06,2.995023e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,2.995023e+06,2.995023e+06
mean,1.730215e+00,2023-01-17 00:22:26.288164,2023-01-17 00:38:06.427874,1.362532e+00,3.847342e+00,1.497440e+00,1.663980e+02,1.643926e+02,1.194483e+00,1.836707e+01,1.537842e+00,4.882900e-01,3.367941e+00,5.184907e-01,9.820847e-01,2.702038e+01,2.274231e+00,1.074086e-01
min,1.000000e+00,2008-12-31 23:01:42,2009-01-01 14:29:11,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-9.000000e+02,-7.500000e+00,-5.000000e-01,-9.622000e+01,-6.500000e+01,-1.000000e+00,-7.510000e+02,-2.500000e+00,-1.250000e+00
25%,1.000000e+00,2023-01-09 16:21:57.250000,2023-01-09 16:37:06,1.000000e+00,1.060000e+00,1.000000e+00,1.320000e+02,1.140000e+02,1.000000e+00,8.600000e+00,0.000000e+00,5.000000e-01,1.000000e+00,0.000000e+00,1.000000e+00,1.540000e+01,2.500000e+00,0.000000e+00
50%,2.000000e+00,2023-01-17 08:42:29.500000,2023-01-17 08:58:30.500000,1.000000e+00,1.800000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,1.280000e+01,1.000000e+00,5.000000e-01,2.720000e+00,0.000000e+00,1.000000e+00,2.016000e+01,2.500000e+00,0.000000e+00
75%,2.000000e+00,2023-01-24 16:26:27,2023-01-24 16:42:49,1.000000e+00,3.330000e+00,1.000000e+00,2.340000e+02,2.340000e+02,1.000000e+00,2.050000e+01,2.500000e+00,5.000000e-01,4.200000e+00,0.000000e+00,1.000000e+00,2.870000e+01,2.500000e+00,0.000000e+00
max,2.000000e+00,2023-02-01 00:56:53,2023-02-02 09:28:47,9.000000e+00,2.589281e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,1.160100e+03,1.250000e+01,5.316000e+01,3.808000e+02,1.969900e+02,1.000000e+00,1.169400e+03,2.500000e+00,1.250000e+00
std,4.438480e-01,NaN,NaN,8.961200e-01,2.495838e+02,6.474767e+00,6.424413e+01,6.994368e+01,5.294762e-01,1.780782e+01,1.789592e+00,1.034641e-01,3.826759e+00,2.017579e+00,1.833529e-01,2.216359e+01,7.718454e-01,3.556511e-01

## Q2. Computing duration

What is the standard deviation of the trip duration (in minutes) in January?

In [3]:
df["duration"] = df["tpep_dropoff_datetime"] - df["tpep_pickup_datetime"]
df["duration"].head()

0   0 days 00:08:26
1   0 days 00:06:19
2   0 days 00:12:45
3   0 days 00:09:37
4   0 days 00:10:50
Name: duration, dtype: timedelta64[us]

In [4]:
df.duration.describe()

count                   3066766
mean     0 days 00:15:40.139710
std      0 days 00:42:35.661074
min           -1 days +23:30:48
25%             0 days 00:07:07
50%             0 days 00:11:31
75%             0 days 00:18:18
max             6 days 23:09:11
Name: duration, dtype: object

In [5]:
df.duration.dt.total_seconds()

0           506.0
1           379.0
2           765.0
3           577.0
4           650.0
            ...
3066761     839.0
3066762    1167.0
3066763    1471.0
3066764     780.0
3066765     864.0
Name: duration, Length: 3066766, dtype: float64

In [6]:
df.duration = df.duration.dt.total_seconds() / 60.0
df.duration.std()

np.float64(42.59435124195458)

## Q3. Dropping outliers

What fraction of the records left after you dropped the outliers? (Drop anything that is with duration outside 1 and 60 minutes)

In [7]:
df.shape

(3066766, 20)

In [8]:
df_train = df[(df.duration >= 1) & (df.duration <= 60)]
df_train.shape

(3009173, 20)

In [9]:
df_train.shape[0] / df.shape[0]

0.9812202822125979

In [10]:
# For releasing memory on Codespaces only
del df

## Q4. One-hot encoding

Apply one-hot encoding to the pickup and dropoff location IDs. We'll use only these two features for our model.

Fit a dictionary vectorizer and get a feature matrix from it.

What's the dimensionality of the feature matrix (number of columns)?

In [11]:
from sklearn.feature_extraction import DictVectorizer

In [12]:
categorical = ["PULocationID", "DOLocationID"]

df_train[categorical] = df_train[categorical].astype(str)

In [13]:
train_dicts = df_train[categorical].to_dict(orient="records")

dv = DictVectorizer()
X_train = dv.fit_transform(train_dicts)

X_train.shape

(3009173, 515)

## Q5. Training a model

Train a plain linear regression model with default parameters, where duration is the response variable.

Calculate the RMSE of the model on the training data. What's the RMSE on train?

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import root_mean_squared_error

In [15]:
target = ["duration"]
y_train = df_train[target].values

lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_train)

root_mean_squared_error(y_train, y_pred)

7.649261932106969

In [16]:
# For releasing memory on Codespaces only
del df_train

## Q6. Evaluate the model

Apply this model to the validation dataset (February 2023).

What's the RMSE on validation?

In [17]:
df_val = pd.read_parquet(data_url_202302)

df_val["duration"] = df_val["tpep_dropoff_datetime"] - df_val["tpep_pickup_datetime"]
df_val.duration = df_val.duration.dt.total_seconds() / 60.0
df_val.shape

(2913955, 20)

In [18]:
df_val = df_val[(df_val.duration >= 1) & (df_val.duration <= 60)]
df_val.shape

(2855951, 20)

In [19]:
df_val[categorical] = df_val[categorical].astype(str)
val_dicts = df_val[categorical].to_dict(orient="records")

X_val = dv.transform(val_dicts)

X_val.shape

(2855951, 515)

In [20]:
y_val = df_val[target].values

y_pred = lr.predict(X_val)

root_mean_squared_error(y_val, y_pred)

7.811818743246608